*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(13, 38, 117);
}
.container{
    padding: 20px;
    width: 400px;
    height: 100%;
    margin: 50px auto;
}
.container h1{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.container span{
    color: rgb(15, 128, 15);
    font-size: 26px;
    font-weight: 600;
    padding: 5px 0 5px 0;
    border-bottom: 3px solid rgb(15, 128, 15);
}
.container .random{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .random img{
    width: 16px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.container .random .password{
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 33px;
    background-color: rgb(15, 128, 15);
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
.btn button{
    background-color:transparent;
    padding:2px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.container .btn img{
    width: 20px;
    height: 20px;
}
